@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

body {
  background: rgb(151, 150, 179);
  background: linear-gradient(
    90deg,
    rgba(151, 150, 179, 1) 0%,
    rgba(153, 158, 232, 1) 100%,
    rgba(151, 144, 189, 1) 100%
  );
}
#border {
  margin: 0;
}
#grilla {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "footer footer footer";
  grid-template-rows: 200px 40px 1fr 1px;
  grid-template-columns: 15% 70% 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}
li:hover {
  background-color: purple;
  color: black;
}
header {
  grid-area: header;
  display: flex;
  margin: auto;
  max-width: 30%;
  height: auto;
}
footer {
  grid-area: footer;
  display: flex;
  margin: auto;
  height: auto;
}
section#servicios {
  grid-area: servicios;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: publicidad;
}
.formatoproductos {
  font-size: 30px;
  line-height: 150%;
  /* border-color: black; */
  /* background-color: black; */
}
a {
  padding: 8px;
  color: black;
  text-decoration: none;
  font-family: "Gideon Roman", cursive;
}
a:hover {
  color: black;
}
ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  padding: 1px;
  overflow: hidden;
  list-style-type: none;
}
li {
  padding-left: 20px;
  padding-right: 20px;
}
#servicios {
  display: flex;
  justify-content: center;
  font-family: "Gideon Roman", cursive;
  font-size: 30px;
  text-align: center;
  padding: 35px 30px 4px 30px;
}
#imagen {
  grid-area: imagen;
  display: flex;
  justify-content: center;
}
.formatologo {
  max-width: 100%;
  height: auto;
}
.formulariocontacto {
  max-width: 100%;
  height: auto;
}
.formatolateral {
  background-color: purple;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
