@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");
$paddingli: 20px;
$gridgap: 10px;
$fuentegeneral: 30px;
@mixin FuenteEstilo($alineacion, $justificar, $sizefuente) {
  text-align: $alineacion;
  justify-content: $justificar;
  font-size: $sizefuente;
}
$colores: {
	"primario": #ff5400,
	"secundario": #46424C,
	"texto": #060713
}
body {
  background: rgb(151, 150, 179);
  background: linear-gradient(
    90deg,
    rgba(151, 150, 179, 1) 0%,
    rgba(153, 158, 232, 1) 100%,
    rgba(151, 144, 189, 1) 100%
  );
}
#border {
  margin: 0;
}
#grilla {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "footer footer footer";
  grid-template-rows: 200px 40px 1fr 1px;
  grid-template-columns: 15% 70% 15%;
  grid-row-gap: $gridgap;
  grid-column-gap: $gridgap;
  height: 100vh;
  margin: 0;
}
li:hover {
  background-color: purple;
  color: black;
}
header {
  grid-area: header;
  display: flex;
  margin: auto;
  max-width: 30%;
  height: auto;
}
footer {
  grid-area: footer;
  display: flex;
  margin: auto;
  height: auto;
}
section#servicios {
  grid-area: servicios;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: publicidad;
}
.formatoproductos {
  font-size: $fuentegeneral;
  line-height: 150%;
}
a {
  padding: 8px;
  color: black;
  text-decoration: none;
  font-family: "Gideon Roman", cursive;
}
a:hover {
  color: black;
}
ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  padding: 1px;
  overflow: hidden;
  list-style-type: none;
}
li {
  padding-left: $paddingli;
  padding-right: $paddingli;
}
#servicios {
  display: flex;
  justify-content: center;
  @include FuenteEstilo(center, center, $fuentegeneral);
  font-family: "Gideon Roman", cursive;
  padding: 35px 30px 4px 30px;
}
.formatologo {
  max-width: 100%;
  height: auto;
}
.formulariocontacto {
  max-width: 100%;
  height: auto;
}
.formatolateral {
  background-color: purple;
}
.grid2 {
  justify-content: center;
}
